
<!doctype html>
<html lang="en">
  <head>
    <style type="text/css">

    </style>
    <!-- Required meta tags -->
    <title>Playing a local video</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>


        <div class="row">



          <div class="col-sm-5" height="30px">
            <div class="card">

             <table class="table table-striped table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Text</th>
                    </tr>
                  </thead>
                  <tbody id="text_tbody">


                  </tbody>
                </table>
            </div>
          </div>

          <div class="col-sm-7" >
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Subtitle Vedio</h5>
                <video controls width="100%" height="100%">
                    <source src="http://localhost:5000/static/rpa.mp4" type="video/mp4">
                </video>
<!--                 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>


        </div>





<script>


            jQuery.extend({
            getValues: function(url) {
                var result = null;
                $.ajax({
                    url: url,
                    type: 'get',
                    // dataType: 'xml',
                    async: false,
                    success: function(data) {
                        result = data;
                    }
                });

                // document.getElementById("Mysubtitle").innerHTML = result;
               return result;
            }
        });

        var syncData = $.getValues("http://localhost:5000/static/rpa.vtt");


        //all works start here

        function parse_timestamp(s) {
            var match = s.match(/^(?:([0-9]{2,}):)?([0-5][0-9]):([0-5][0-9][.,][0-9]{0,3})/);
            if (match == null) {
                throw 'Invalid timestamp format: ' + s;
            }
            var hours = parseInt(match[1] || "0", 10);
            var minutes = parseInt(match[2], 10);
            var seconds = parseFloat(match[3].replace(',', '.'));
            return seconds + 60 * minutes + 60 * 60 * hours;
        }

        // https://w3c.github.io/webvtt/
        // https://developer.mozilla.org/en/docs/Web/API/Web_Video_Text_Tracks_Format
        // https://en.wikipedia.org/wiki/WebVTT
        //
        // For better parsers, look at:
        // https://github.com/annevk/webvtt
        // https://github.com/mozilla/vtt.js
        function quick_and_dirty_vtt_or_srt_parser(vtt) {
            var lines = vtt.trim().replace('\r\n', '\n').split(/[\r\n]/).map(function(line) {
                return line.trim();
            });


            

        var cues = [];
        var start = null;
        var end = null;
        var payload = null;

        var MyTextData=''; //for table purpose

        for (var i = 0; i < lines.length; i++) {

            // console.log(lines[i],"-------------->")

            if (lines[i].indexOf('-->') >= 0) {
                var splitted = lines[i].split(/[ \t]+-->[ \t]+/);
                if (splitted.length != 2) {
                    throw 'Error when splitting "-->": ' + lines[i];
                }

                // Already ignoring anything past the "end" timestamp (i.e. cue settings).
                start = parse_timestamp(splitted[0]);
                end = parse_timestamp(splitted[1]);

            } else if (lines[i] == '') {
                if (start && end) {
                    // alert(payload)

                    // payload is text
                    var cue = new VTTCue(start, end, payload);

                    console.log(cue)

                  MyTextData+='<tr>';
                  MyTextData+='<td>'+cue['startTime']+'</td>';
                  MyTextData+='<td>'+cue['endTime']+'</td>';
                  MyTextData+='<td>'+cue['text']+'</td>';
                  MyTextData+='</tr>';

                    cues.push(cue);
                    start = null;
                    end = null;
                    payload = null;
                }
            } else if(start && end) {
                if (payload == null) {
                    payload = lines[i];
                } else {
                    payload += '\n' + lines[i];
                }
            }
        }

    // console.log(typeof cues[0])

    // console.log(cues[0]['endTime'],cues[0]['startTime'],cues[0]['text'])
    // console.log(cues[0])

        $('#text_tbody').append(MyTextData);

        return cues;
    }

    function init() {


        // http://www.html5rocks.com/en/tutorials/track/basics/
        // https://www.iandevlin.com/blog/2015/02/javascript/dynamically-adding-text-tracks-to-html5-video

        var video = document.querySelector('video');
        var subtitle = syncData;
        var track = video.addTextTrack('subtitles', 'English', 'en');

        // console.log(cue)

        track.mode = "showing";
        quick_and_dirty_vtt_or_srt_parser(subtitle).map(function(cue) {
            track.addCue(cue);
        });
    }
    init();
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>


